body {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  font-weight: bold;
  padding: 2%;
}

h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #0C2D44;
}

h3 {
  padding: 23px 15px;
  font-size: 17px;
  text-align: center;
  color: #1D303E;
}

p {
  margin-top: 20px;
  clear: both;
  font-size: 1rem;
}


img {
  object-fit: cover;
  float: left;
  width: 10%;
  margin-top: -10px;
}

main {
  padding: 20px;
	margin-top: 20px;
}

form {
  max-width: 500px;
  margin: 30px auto;
}

.form-group {
  margin-bottom: 22px;
  color: #1D303E;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: #ffffff;
}

.contact-textarea {
  background-color: #f1f1f1;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 300;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 5px;
  background-color: #f1f1f1;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #c1c1c1;
  resize: none;
}

button[type="submit"] {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 500;
  display: block;
  width: 60%;
  background-color: #498630;
  color: #F1E2CA;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"]:hover {
  background-color: #F1E2CA;
  color: #498630;
}

header {
  text-align: center;
  margin-bottom: 5%;
}

header img {
  display: block;
  margin: 0% 0% 0% 3%;
}

header h1 {
  margin-top: 3%;
}

.topnav {
  overflow: hidden;
  position: relative;
  background-color: #498630;
  color: #F1E2CA;
  border: none;
}

.topnav #myLinks {
  display: none;
}

.topnav a.icon {
  background: gainsboro;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

nav {
  overflow: hidden;
  background-color: #FFFFFF;
  position: relative;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 500;
}

nav ul li {
  list-style: none;
}

nav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.board-member {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.board-member img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.board-member h2 {
	font-size: 1rem;
  font-weight: bold;
  margin: 0;
	  text-align: left;
}

.board-member p {
  font-size: 0.7rem;
  margin: 5px 0 0;
  color: #666;
}



::-webkit-input-placeholder {
  font-size: 12px;
}

.about_page section:not(:first-of-type) {
  display: none;
}

.about_page div{
	margin-top: 14px;
}

.about_page button {
  background-color: #498630;
  color: #F1E2CA;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
}

.about_page button:hover {
  background-color: #F1E2CA;
  color: #498630;
}

.inactive a {
  background-color: #d3d3d3;
  color: white;
}

.about_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5%;
}

.about_images {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.about {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 20px;
}

.about_page ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about_page ul li {
  margin-bottom: 10px;
  list-style: none;
  margin-left: 25px;
}

nav a:hover {
  background-color: #90EE90;
  color: black;
}

.active {
  background-color: #498630;
  color: white;
}

.index_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.index_main img {
  width: 40%;
  max-width: 600px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.index_main img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


footer {
  background-color: green;
  padding: 10px 20px;
  text-align: center;
  margin-top: 40px;
  color: #1D303E;
}

#copyright {
  font-size: 14px;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 500;
}

#whyContact {
  width: 90%;
  text-align: center;
  margin: 0 5% 0 5%;
  font-size: 20px;
  color: #1D303E;
}

#contact {
  display: none;
}

#contact.hidden {
  display: block;
}

#contact-button {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 500;
  display: block;
  width: 60%;
  background-color: #498630;
  color: #F1E2CA;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#contact-button:hover {
  background-color: #F1E2CA;
  color: #498630;
}


@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.8rem;
    margin: 40px;
  }

  h1.header img {
    height: 40px;
  }

  h1.header {
    text-align: center;
    height: 40px;
  }
	
	h2 {
  font-size: 1.3rem;
}

  p {
    font-size: 1.25rem;
  }

  li {
    font-size: 1.25rem;
  }

  ::-webkit-input-placeholder {
    font-size: 1rem;
  }

	
  main {
    padding: 15px;
  }

  form {
    max-width: 700px;
  }

  h3 {
    font-size: 21px;
  }

  nav {
    float: right;
    width: 25%;
    margin: 25px;
    overflow-x: hidden;
  }

  nav img {
    height: 40px;
  }

  nav ul {
    display: block;
    justify-content: left;
    width: 100%;
    list-style: none;
    padding: 0;
    z-index: 1;
    background: #F1E2CA;
    position: fixed;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    text-decoration: none;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }

  nav ul li {
    display: block;
  }


  nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }
	
	.board-member img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.board-member h2 {
	font-size: 1.2rem;
}

.board-member p {
  font-size: 1rem;
}

  #whyContact {
    width: 80%;
    margin: 0 10% 0 10%;
  }

  .about {
    width: 50px;
    height: 50px;
  }
	.about_page div{
	margin-top: 32px;
}

}

@media screen and (min-width: 1024px) {
  body {
    z-index: 0;
  }

  h1 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.3rem;
  }
	
		h2 {
  font-size: 1.5rem;
}
	
  form {
    max-width: 950px;
  }

  header {
    width: 80%;
    margin: 40px auto 30px auto;
  }

  header img {
    margin-top: -1.5%;

  }

  #whyContact {
    width: 60%;
    margin: 0 20% 0 20%;
    font-size: 25px;
  }
	
	.board-member h2 {
	font-size: 1.3rem;
}

.board-member p {
  font-size: 1.1rem;
}

  .topnav #myLinks {
    display: block;
    position: static;
  }

  .topnav a {
    text-align: center;
    position: static;
    float: left;
    display: block;
    width: 16.666%;
    padding: 20px 0%;
  }

  .topnav ul {
    position: static;
  }

  nav {
    position: static;
    width: 100%;
    margin: 25px 0;
  }

  nav a.ISUD {
    display: none;
  }

  .topnav a.icon {
    display: none;
    z-index: 0;
  }

  .about {
    width: 100px;
    height: 100px;
  }
	
	
}