body{
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 300;
}

h1{
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  font-weight: bold;
  padding: 2%;
}

h2 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #0C2D44;
}

h3 {
  padding: 23px 15px;
  font-size: 17px;
  text-align: center;
  color: #1D303E;
}

p {
  margin-top: 20px;
  clear: both;
}

img {
  object-fit: cover;
  float: left;
  width: 10%;
  margin-top: -10px;
}

main {
  padding: 20px;
}

form {
  max-width: 500px;
  margin: 30px auto;
}

.form-group {
  margin-bottom: 22px;
  color: #1D303E;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 300;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 5px;
  background-color: #c1c1c1;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #c1c1c1;
  resize: none;
}

button[type="submit"] {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 500;
  display: block;
  width: 60%;
  background-color: #498630;
  color: #F1E2CA;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"]:hover {
  background-color: #F1E2CA;
  color: #498630;
}

header {
  text-align: center;
}

header img {
  display: block;
  margin: 0 auto;
}

header h1 {
  margin-top: 0;
}

nav {
  overflow: hidden;
  background-color: #FFFFFF;
  position: relative;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 500;
}

nav ul li {
  list-style: none;
}

nav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.about {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.index_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
}

.index_main img {
  width: 40%;
  max-width: 600px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.index_main img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


footer {
  background-color: green;
  padding: 10px 20px;
  text-align: center;
  margin-top: 40px;
  color: #1D303E;
}

#copyright{
  font-size: 14px;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 500;
}

#whyContact{
  width: 90%;
  text-align: center;
  margin: 0 5% 0 5%;
  font-size: 20px;
  color: #1D303E;
}

#contact {
  display: none;
}

#contact.hidden {
  display: block;
}

#contact-button{
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 500;
  display: block;
  width: 60%;
  background-color: #498630;
  color: #F1E2CA;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#contact-button:hover {
  background-color: #F1E2CA;
  color: #498630;
}


@media screen and (min-width: 768px) {
	h1 {
		font-size: 2.2rem;
	}
  header {
    text-align: center;
  }

  main {
    padding: 15px;
  }

  form {
    max-width: 700px;
  }

  h3 {
    font-size: 21px;
  }

  nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

  nav img {
  height: 40px;
  }

  nav ul {
  display: inline-block;
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  }

	nav li {
  display: inline-block;
  margin: 0 20px;
	}

	nav a {
	text-decoration: none;
	}

  nav ul li {
    display: inline-block;
    padding: 1% 2% 1% 2%;
  }

  nav ul li:hover {
    background-color: grey;
  }

  nav ul li:active {
    background-color: #CDCDCD;
  }

  nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }
  #whyContact{
    width: 80%;
    margin: 0 10% 0 10%;
  }
}

@media screen and (min-width: 1024px) {
	h1{
		font-size: 2.4rem;
	}
  form {
    max-width: 950px;
  }

	header {
	width: 80%;
	margin: 40px auto 30px auto;
	}

  #whyContact{
    width: 60%;
    margin: 0 20% 0 20%;
    font-size: 25px;
  }


}
