@media screen and (min-width: 768px) {
  header {
    text-align: center;
  }

  main {
    padding: 15px;
  }

  form {
    max-width: 700px;
  }
  h3{
    font-size: 21px;
  }
}

@media screen and (min-width: 1024px) {
  form {
    max-width: 950px;
  }
}
