img {
  object-fit: cover;
  float: left;
  width: 10%;
  margin-top: -10px;
}

header {
  text-align: center;
}

header img {
  display: block;
  margin: 0 auto;
}

header h1 {
  margin-top: 0;
}

nav {
  background-color: #FFFFFF;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
}

nav img {
  height: 40px;
}

nav ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav ul li {
  display: inline-block;
  padding: 2% 4% 2% 4%;
}

nav ul li:hover{
  background-color: grey;
}

nav ul li:active{
  background-color: #CDCDCD;
}
nav ul li a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}


@media screen and (min-width: 768px) {
  header {
    text-align: center;
  }

  main {
    padding: 15px;
  }

  form {
    max-width: 700px;
  }
  h3{
    font-size: 21px;
  }
}

@media screen and (min-width: 1024px) {
  form {
    max-width: 950px;
  }
}
